/* Global */
* {
    background-attachment: fixed;
    font-weight: lighter;
    cursor: default;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

::-webkit-scrollbar {
    display: none;
}

.bg-colour {
    background-color: #bca0dc;
}

.btn-group {
    text-align: center;
}

.btn {
    display: inline-block;
    color: #b691d2;
    background-color: #8a4fbf;
    border: none;
    transition: all .4s;
}

.btn:hover,
.btn:active {
    background-color: #b691d2;
    color: #8a4fbf;
}

.item-hide {
    display: none;
}

/* Music */
.audio {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #bca0dc;
    z-index: 4;
}

.audio-title {
    position: absolute;
    top: 46%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #8a4fbf;
}

.music-btn-group {
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.music-btn {
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 45px;
    font-size: 15px;
    line-height: 30px;
}

/* Background */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/header/background.jpg");
    background-size: cover;
    background-position: center;
}

/* Lean Background */
.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #8a4fbf, #ffffff 80%);
    opacity: 0.75;
}

/* To Top Button */
.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 2;
}

.to-top.to-top-show {
    bottom: 16px;
    opacity: 1;
    pointer-events: auto;
}

.to-top.to-top-show:hover {
    transform: translateY(-6%);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .4s;
    z-index: 1;
}

.header.header-colour {
    background-color: #8a4fbf;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
}

.header.header-colour .menu-toggle span {
    background-color: #3c1361;
}

.header.header-colour .navbar-social-bar .icon-btn {
    color: #3c1361;
}

.header.header-colour .navbar-social-bar .icon-btn:hover {
    color: #b691d2;
}

/* Navigation Bar */
.navbar {
    height: 60px;
    margin-left: -16px;
    margin-right: -16px;
}

.navbar-social-bar {
    padding: 14px;
    margin-left: 20px;
    float: left;
}

/* Icon Button */
.icon-btn {
    width: 32px;
    height: 32px;
    color: #8a4fbf;
    display: inline-block;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    transition: all .4s;
}

.icon-btn:hover {
    color: #b691d2;
    transform: scale(1.2);
}

/* Toggle Menu */
.menu-toggle {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: block;
    padding: 14px;
    padding-top: 18px;
}

.navbar-nav {
    float: right;
}

.menu-toggle span {
    width: 32px;
    height: 2px;
    background-color: #8a4fbf;
    display: block;
    margin-bottom: 8px;
    transition: all .4s;
}

.menu-toggle:hover span:nth-child(1) {
    transform: translateX(20%);
}

.menu-toggle:hover span:nth-child(3) {
    transform: translateX(-20%);
}

/* Popup Menu */
.popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #663a82;
    visibility: hidden;
    opacity: 0;
}

#popup-overlay:target {
    visibility: visible;
    opacity: 0.95;
}

.popup-menu-close {
    width: 60px;
    height: 60px;
    display: block;
    padding: 14px;
    margin-right: 4px;
    float: right;
    transition: all .4s;
}

.popup-menu-close span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 2px;
    display: block;
    background-color: #3c1361;
}

.popup-menu-close span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup-menu-close span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-menu-close:hover {
    transform: rotate(180deg);
}

.popup-menu-list {
    display: block;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

.popup-menu-list-margin {
    margin-top: 40px;
}

.popup-menu-item {
    color: #3c1361;
    transition: all .4s;
}

.popup-menu-item:hover {
    color: #8a4fbf;
}

/* About */
.hero {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.hero-img {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 1024px;
    background-image: url(../images/header/portrait.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.hero-heading {
    padding-left: 5%;
    font-size: 100px;
    color: #8a4fbf;
}

/* Website Button */
.website-btn {
    left: 5%;
    height: 48px;
    padding: 0 64px;
    border-radius: 24px;
    font-size: 24px;
    line-height: 48px;
}

/* Quote */
.quote {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-content {
    text-align: center;
}

.quote-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #8a4fbf;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 64px;
    color: #b691d2;
}

.quote-text {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    color: #8a4fbf;
}

.quote-name {
    font-size: 20px;
    line-height: 24px;
    color: #3c1361;
}

.quote-name span {
    color: #8a4fbf;
}

/* Lean Background */
.lean-bg-top::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #bca0dc;
    transform: skewY(-5deg) translateY(-50%);
}

.lean-bg-bottom {
    margin-bottom: 80px;
}

.lean-bg-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #bca0dc;
    transform: skewY(-5deg) translateY(50%);
}

/* Data */
.data {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Data Item */
.data-item {
    margin-top: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.data-item label {
    margin-left: 8px;
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    color: #8a4fbf;
}

.data-item input[type="text"],
.data-item textarea {
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1.5px solid #8a4fbf;
    border-radius: 8px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: inherit;
    color: #3c1361;
    resize: none;
}

.data-item textarea {
    margin-bottom: 32px;
}

.data-item input[type="text"]:focus,
.data-item textarea:focus {
    outline: 0;
    border: 1.5px solid #3c1361;
}

.data-btn {
    height: 48px;
    padding: 0 64px;
    border-radius: 24px;
    font-size: 24px;
    line-height: 48px;
}

/* Stats */
.stats {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

.stats-group {
    margin-top: 40px;
}

.stats-card {
    padding-left: 32px;
    margin-bottom: 32px;
    transition: all .4s;
}

.stats-card-margin {
    margin-bottom: 0;
}

.stats-card-margin-two {
    margin-bottom: 0;
}

.stats-card:hover {
    transform: scale(1.05);
}

.stats-card-inner {
    background-color: #8a4fbf;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
    padding: 20px;
    padding-left: 60px;
}

.stats-card-title {
    color: #b691d2;
    margin-top: 0;
    margin-bottom: 8px;
}

.stats-card-text {
    margin: 0;
    color: #3c1361;
    line-height: 24px;
}

.stats-card-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
    background-color: #8a4fbf;
}

.stats-card-icon .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
}

/* Experience */
.experience {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

/* Timeline */
.timeline-group {
    max-width: 960px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.timeline {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #8a4fbf;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
}

.timeline-cards-row:nth-child(odd) {
    display: flex;
    justify-content: flex-start;
}

.timeline-cards-row:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}

.timeline-cards-row:nth-child(odd)> ::before {
    transform: translate(50%, -50%);
    right: -24px;
}

.timeline-cards-row:nth-child(even)> ::before {
    transform: translate(-50%, -50%);
    left: -24px;
}

.timeline-card {
    width: calc(50% - 24px);
    padding: 24px;
    margin-bottom: 32px;
    background-color: #8a4fbf;
    border-radius: 8px;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
}

.timeline-card-margin {
    margin-bottom: 0;
}

.timeline-card::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background-color: #8a4fbf;
    border-radius: 50%;
    box-shadow: 0 3px 9px rgba(60, 19, 97, 0.6);
}

.timeline-card-text {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
    color: #3c1361;
    line-height: 28px;
}

.timeline-card-image {
    left: -10px;
    max-height: 85px;
    line-height: 0;
    float: left;
    -webkit-user-drag: none;
}

/* Costume */
.costume {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

/* Costume List */
.costume-list {
    margin-top: 40px;
}

.costume-item {
    margin-bottom: 150px;
}

.costume-item.costume-item-margin {
    margin-bottom: 120px;
}

.costume-row {
    display: flex;
}

.costume-image {
    margin-top: auto;
    margin-bottom: auto;
}

.costume-text {
    margin-top: auto;
    margin-bottom: auto;
}

.text-align-right {
    text-align: right;
}

.costume-title {
    margin: 0;
    line-height: 44px;
    color: #8a4fbf;
}

.costume-intro {
    margin-top: 24px;
    margin-bottom: 40px;
    line-height: 24px;
    color: #3c1361;
}

/* Image Box */
.imgbox {
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    transition: all .4s;
}

.imgbox:hover {
    transform: scale(1.05);
}

.imgbox-inner {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.imgbox-inner.imgbox-inner-4by3 {
    padding-top: calc(100% * 3/4);
}

.imgbox-inner .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.image.image-top {
    background-position: top;
}

.image.image-25 {
    background-position-y: 25%;
}

.image.image-center {
    background-position: center;
}

/* Costume Button */
.costume-btn {
    position: relative;
    margin: 0;
    font-size: 20px;
    color: #8a4fbf;
}

.costume-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #8a4fbf;
    transition: all .4s;
}

.costume-btn:hover::before {
    width: 100%;
}

/* Big Image */
.imgbox-big {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.image-big {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

/* Costumes Button */
.costumes-btn {
    height: 48px;
    padding: 0 64px;
    border-radius: 24px;
    font-size: 24px;
    line-height: 48px;
}

/* Contact */
.contact {
    margin-top: 100px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}

/* Info */
.info {
    margin-top: 40px;
    text-align: center;
}

.info-email {
    margin-bottom: 16px;
}

.info-email a {
    color: #3c1361;
    font-size: 16px;
}

.info-phone {
    margin-bottom: 16px;
}

.info-phone a {
    color: #3c1361;
    font-size: 16px;
}

.info-icon-bar {
    margin-bottom: 80px;
}

.icon-btn.info-icon {
    color: #3c1361;
}

.icon-btn.info-icon:hover {
    color: #8a4fbf;
    transform: translateY(-20%);
}

/* Footer */
.final-text {
    max-width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #3c1361;
}

.copyright {
    max-width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color: #3c1361;
}

/* Animation */
.fade {
    transition: all .4s;
}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
}

.fade-up.fadein {
    opacity: 1;
    transform: translateY(0);
}

.fade-down {
    opacity: 0;
    transform: translateY(-100px);
}

.fade-down.fadein {
    opacity: 1;
    transform: translateY(0);
}

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
}

.fade-left.fadein {
    opacity: 1;
    transform: translateX(0);
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
}

.fade-right.fadein {
    opacity: 1;
    transform: translateX(0);
}

/* RWD */
@media (max-width: 912px) {
    .hero-heading {
        font-size: 80px;
    }
}

@media (max-width: 768px) {
    .navbar-social-bar {
        margin-left: 10px;
    }

    .menu-toggle {
        margin-right: 10px;
    }

    .popup-menu-list {
        margin-bottom: 32px;
        font-size: 32px;
    }

    .popup-menu-list-margin {
        margin-top: 32px;
    }

    .popup-menu-close {
        margin-right: -6px;
    }

    .to-top-image {
        max-width: 192px;
        max-height: 192px;
    }

    .hero {
        padding-top: 18vh;
        padding-bottom: 18vh;
    }

    .hero-heading {
        font-size: 52px;
    }

    .website-btn {
        height: 40px;
        padding: 0 48px;
        font-size: 20px;
        line-height: 40px;
    }

    .quote {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .data {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .data-btn {
        height: 44px;
        padding: 0 56px;
        font-size: 22px;
        line-height: 44px;
    }

    .stats {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .stats-group {
        margin-top: 72px;
    }

    .stats-card-group {
        width: 50%;
        float: left;
    }

    .stats-card {
        padding-left: 0;
        margin-bottom: 48px;
    }

    .stats-card-margin {
        margin-bottom: 0;
    }

    .stats-card-margin-two {
        margin-bottom: 0;
    }

    .stats-card-inner {
        padding: 24px;
        padding-top: 40px;
        text-align: center;
    }

    .stats-card-icon {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .experience {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline {
        left: 0;
    }

    .timeline-group {
        margin-left: 16px;
        margin-right: 16px;
    }

    .timeline-cards-row:nth-child(odd) {
        justify-content: flex-end;
    }

    .timeline-cards-row:nth-child(odd)> ::before {
        left: -24px;
        transform: translate(-50%, -50%);
    }

    .timeline-card {
        width: calc(100% - 24px);
        margin-bottom: 24px;
    }

    .timeline-card-margin {
        margin-bottom: 0;
    }

    .timeline-card-text {
        left: 40px;
    }

    .timeline-card-image {
        left: -20px;
    }

    .costume {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .costume-list {
        margin-left: 16px;
    }

    .costume-item {
        margin-bottom: 120px;
    }

    .costume-item.costume-item-margin {
        margin-bottom: 96px;
    }

    .costume-image {
        left: 0;
        width: 50%;
    }

    .costume-text {
        left: 0;
        right: 0;
        width: 50%;
    }

    .costume-text-align {
        text-align: left;
    }

    .costume-title {
        font-size: 32px;
        line-height: 36px;
    }

    .costume-intro {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .costumes-btn {
        height: 44px;
        padding: 0 56px;
        font-size: 22px;
        line-height: 44px;
    }

    .contact {
        margin-top: 80px;
    }
}

@media (max-width: 540px) {
    .hero {
        padding-top: 16vh;
        padding-bottom: 16vh;
    }

    .hero-heading {
        padding-left: 0;
        font-size: 48px;
    }

    .website-btn {
        left: 0;
    }
}

@media (max-width: 480px) {
    .navbar-social-bar {
        margin-left: 0;
    }

    .menu-toggle {
        margin-right: 0;
    }

    .popup-menu-list {
        margin-bottom: 24px;
        font-size: 24px;
    }

    .popup-menu-list-margin {
        margin-top: 24px;
    }

    .popup-menu-close {
        margin-right: -16px;
    }

    .to-top-image {
        max-width: 128px;
        max-height: 128px;
    }

    .hero {
        padding-top: 14vh;
        padding-bottom: 14vh;
    }

    .hero-heading {
        margin-bottom: 12px;
        font-size: 40px;
    }

    .website-btn {
        height: 32px;
        padding: 0 32px;
        font-size: 16px;
        line-height: 32px;
    }

    .quote {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .data {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .data-btn {
        height: 40px;
        padding: 0 48px;
        font-size: 20px;
        line-height: 40px;
    }

    .stats {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .stats-card-group {
        width: 100%;
        float: none;
    }

    .stats-card-margin {
        margin-bottom: 48px;
    }

    .experience {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .timeline-card {
        padding: 16px;
    }

    .timeline-card-text {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 100px;
        text-align: center;
    }

    .timeline-card-image {
        position: absolute;
        left: 50%;
        bottom: 90px;
        transform: translateX(-50%);
        float: none;
    }

    .costume {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .costume-list {
        margin-right: 16px;
    }

    .costume-item {
        margin-bottom: 96px;
    }

    .costume-item.costume-item-margin {
        margin-bottom: 76px;
    }

    .costume-row {
        display: block;
    }

    .costume-image {
        width: 100%;
    }

    .costume-text {
        width: 100%;
        margin-top: 20px;
    }

    .costume-text-align {
        text-align: center;
    }

    .costume-intro {
        margin-bottom: 24px;
    }

    .costumes-btn {
        height: 40px;
        padding: 0 48px;
        font-size: 20px;
        line-height: 40px;
    }

    .contact {
        margin-top: 60px;
    }
}

@media (max-width: 380px) {
    .hero {
        padding-top: 12vh;
        padding-bottom: 12vh;
    }

    .hero-heading {
        font-size: 28px;
    }
}

@media (min-height: 720px) {
    .audio-title {
        top: 47%;
    }

    .music-btn-group {
        top: 53%;
    }
}